<div class="animated fadeIn bg-white" style="height:100%;">

  <div class="flex-layout-header back-mesh-">
    <div class="bg-gray-100-" style="width: 100%;">
      <div class="d-flex flex-row justify-content-between">
        <div class="col px-1">
          <div class="float-left mr-2" style="padding: 0.5em 0.40rem !important">
            <ion-icon name="list-outline"></ion-icon> {{ 'APP.TITLE.configuration' | translate }}
            <span class="ml-2" *ngIf="table">"{{ table.name }}"</span>
          </div>
        </div>
        <div class="col-3 pl-0">
          <div class="mt-1" *ngIf="table?.company">
            <app-choose-tenant-company
              [tenant]="tenant"
              [companies]="companies"
              [class]="'gray-500 btn-sm mr-3'"
              (changed)="onCompany($event)">
            </app-choose-tenant-company>
          </div>
        </div>
        <div class="col pl-0 pr-0">
          <div class="w-50 float-right" style="padding: 0.2em 0.40rem !important" *ngIf="table && needCompany()">
            <app-filter-textbox #filterTextboxComponent class="w-50" (changed)="onFilterChanged($event)"></app-filter-textbox>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-layout-body" style="overflow: auto;height: calc( 100% - 35px );">
    <div class="flex-layout-sidebar sidebar-left px-0 py-0 bg-gray-100">
      <ngx-loading
        [show]="loading_tables"
        [config]="loadingOptions">
      </ngx-loading>
      <mat-accordion [multi]="false">
        <ng-container *ngFor="let group of tablesGroups | orderBy : ['groupSort']">
          <!-- {{ 'MODULOCONF' + group.group | uppercase }} -->
          <ng-template [appHasPermission]="'MODULOCONF' + group.group" [action]="'view'" [owner]="true">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="">{{ 'APP.TITLE.' + group.group + '-group' | translate }}</mat-panel-title>
                <!-- <mat-panel-description>{{ group.groupId }}</mat-panel-description> -->
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent class="border-top">
                <mat-nav-list class="pt-0 mx-0 px-0 border-top">
                  <ng-container *ngFor="let item of group.items">
                    <ng-template [appHasPermission]="item.permission" [action]="'view'" [owner]="true">
                      <mat-list-item [class.current-item]="item.id == table?.id" [disabled]="!item.active" (click)="setCurrentTable($event, item)" *ngIf="item.show">
                        <h3 matLine>{{ 'APP.TABLES.' + item.model | translate }} </h3>
                        <p matLine class="sub-title">
                          <span>{{ 'APP.TABLES.' + item.model + '-info' | translate }}</span>
                        </p>
                      </mat-list-item>
                    </ng-template>
                  </ng-container>
                </mat-nav-list>
              </ng-template>
            </mat-expansion-panel>
          </ng-template>
        </ng-container>
      </mat-accordion>
    </div>
    <div class="flex-layout-content" appFit>
      <div class="layout-content d-flex flex-column">
        <ngx-loading
          [show]="loading_data"
          [config]="loadingOptions">
        </ngx-loading>
        <div class="d-flex flex-column justify-content-center align-items-center h-100" *ngIf="(!table && !loading_data) || error">
          <div class="text-center" *ngIf="!error">
            <ion-icon name="list-outline" class="icon-messages-50"></ion-icon>
            <h6 class="no-messages-text mt-3">{{ 'APP.MESSAGE.select_table' | translate }}</h6>
          </div>
          <div class="text-center" *ngIf="error">
            <h6 class="text-danger mt-3 w-75 mx-auto">{{ errorMessage | translate }}</h6>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center h-100" *ngIf="table && !error && !needCompany()">
          <div class="text-center">
            <ion-icon name="list-outline" class="icon-messages-50"></ion-icon>
            <h6 class="no-messages-text mt-3">{{ 'APP.MESSAGE.select_company' | translate }}</h6>
          </div>
        </div>
        <div id="grid-wrapper" class="px-0" style="width: calc( 100% ); height: calc( 100% );" *ngIf="table && !error && needCompany()">
          <ag-grid-angular
            style="width: 100%; height: 100%;"
            class="ag-theme-balham"
            [rowData]="data"
            [columnDefs]="agColumnDefs"
            [defaultColDef]="agDefaultColumnDefs"
            [gridOptions]="agGridOptions"
            [applyColumnDefOrder]="true"
            (gridReady)="onGridReady($event)"
            (gridSizeChanged)="onGridSizeChanged($event)"
            (selectionChanged)="onSelectionChanged($event)"
            (cellDoubleClicked)="onDoubleClicked($event)">
          </ag-grid-angular>
        </div>
        <div class="flex-layout-footer justify-content-center" *ngIf="table && !error && needCompany()">
          <span class="btn btn-sm" *ngIf="!loading_data">{{ 'count_of_total_elements' | translate:countTranslateParams }}</span>
        </div>
      </div>

    </div>
    <div class="flex-layout-sidebar sidebar-right preview-content inspector-content">
      <app-table-inspector
        [table]="table"
        [tableId]="currentId"
        (status)="onStatus($event)">
      </app-table-inspector>
    </div>
  </div>

</div>
