<div class="text-center py-3" *ngIf="loading">
  <div class="h1 text-muted text-center mt-5 mb-1">
    <i class="fa fa-circle-o-notch fa-spin"></i>
  </div>
</div>
<div class="h-75" *ngIf="!activity && !loading">
	<div class="details-content h-100">
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
      <!-- loading & messages -->
      <div class="text-center" style="height: 120px;" *ngIf="!dragging">
        <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
      </div>
      <div class="text-center">
        <i class="icon-mouse icon-messages-50" *ngIf="dragging"></i>
        <h6 class="no-messages-text mt-3">{{ 'APP.MESSAGE.select_activity' | translate }}</h6>
      </div>
    </div>
	</div>
</div>
<div class="mt-3" *ngIf="activity && !loading">
  <div class="details-content">
    <div class="">
      <div class="activity-email"><span class="badge badge-light">{{ activity.numero }}</span></div>
      <div class="activity-name" [title]="activity.id">{{ activity.titolo || '-' }}</div>
      <div class="activity-email"><span class="badge badge-success">{{ activity.stato }}</span></div>
      <div class="activity-email"><span class="badge badge-light">{{ activity.categoriaDocumentoDescrizione || activity.categoriaDocumentoId }}</span></div>
      <div class="activity-email mb-3"><span class="badge badge-light">{{ (activity.dataCreazione | date: 'dd-MM-yyy') || '-' }}</span> | <span class="badge badge-light">{{ (activity.dataScadenza | date: 'dd-MM-yyy') || '-' }}</span></div>
      <!-- <div class="text-center small mb-2">{{ activity.id }}</div> -->
      <div class="card mb-1">
        <div class="card-body">
          <address>
            <strong>{{ 'APP.TITLE.intestatario' | translate }}<span *ngIf="activity.isStessoFatturazione"> & {{ 'APP.TITLE.fatturazione' | translate }}</span></strong><br>
            {{ activity.nominativoIntestatario || '-' }}<br>
            {{ activity.indirizzoIntestatario || '-' }}<br>
            {{ activity.capIntestatario || '-' }} {{ activity.comuneIntestatario || '-' }} {{ activity.provinciaIntestatario || '-' }}<br>
            {{ activity.nazioneIntestatario || '-' }}<br>
          </address>
        </div>
      </div>
      <div class="card mb-1" *ngIf="!activity.isStessoFatturazione">
        <div class="card-body">
          <address>
            <strong>{{ 'APP.TITLE.fatturazione' | translate }}</strong><br>
            {{ activity.nominativoFatturazione || '-' }}<br>
            {{ activity.indirizzoFatturazione || '-' }}<br>
            {{ activity.capFatturazione || '-' }} {{ activity.comuneFatturazione || '-' }} {{ activity.provinciaFatturazione || '-' }}<br>
            {{ activity.nazioneFatturazione || '-' }}<br>
          </address>
        </div>
      </div>
      <div class="card mb-1">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-6">
              <dl class="mt-2 mb-0">
                <dt>{{ 'APP.FIELD.piva' | translate }}</dt>
                <dd class="pt-2">{{ activity.piva || '-' }}</dd>
              </dl>
            </div>
            <div class="col-12 col-md-6">
              <dl class="mt-2 mb-0">
                <dt>{{ 'APP.FIELD.codiceFiscale' | translate }}</dt>
                <dd class="pt-2 mb-0">{{ activity.codiceFiscale || '-' }}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-1">
        <div class="card-body">
          <address>
            <strong>{{ 'APP.TITLE.destinazione' | translate }}</strong><br>
            {{ activity.nominativoDestinazione || '-' }}<br>
            {{ activity.indirizzoDestinazione || '-' }}<br>
            {{ activity.capDestinazione || '-' }} {{ activity.comuneDestinazione || '-' }} {{ activity.provinciaDestinazione || '-' }}<br>
            {{ activity.nazioneDestinazione || '-' }}<br>
          </address>
        </div>
      </div>
      <div class="card mb-1">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-6">
              <dl class="mt-2 mb-0">
                <dt>{{ 'APP.FIELD.totaleLordoCliente' | translate }}</dt>
                <dd class="pt-2">{{ (activity.totaleLordoCliente | currency:'EUR':'symbol':'1.2-2':'it-IT') || '-' }}</dd>
              </dl>
            </div>
            <div class="col-12 col-md-6">
              <dl class="mt-2 mb-0">
                <dt>{{ 'APP.FIELD.totaleLordoAzienda' | translate }}</dt>
                <dd class="pt-2 mb-1">{{ (activity.totaleLordoAzienda | currency:'EUR':'symbol':'1.2-2':'it-IT') || '-' }}</dd>
              </dl>
            </div>
            <div class="col-12 col-md-6">
              <dl class="mt-2 mb-0">
                <dt>{{ 'APP.FIELD.totaleIvaCliente' | translate }}</dt>
                <dd class="pt-2 mb-1">{{ (activity.totaleIvaCliente | currency:'EUR':'symbol':'1.2-2':'it-IT') || '-' }}</dd>
              </dl>
            </div>
            <div class="col-12 col-md-6">
              <dl class="mt-2 mb-0">
                <dt>{{ 'APP.FIELD.totaleIvaAzienda' | translate }}</dt>
                <dd class="pt-2 mb-1">{{ (activity.totaleIvaAzienda | currency:'EUR':'symbol':'1.2-2':'it-IT') || '-' }}</dd>
              </dl>
            </div>
            <div class="col-12 col-md-6">
              <dl class="mt-2 mb-0">
                <dt>{{ 'APP.FIELD.totaleNettoCliente' | translate }}</dt>
                <dd class="pt-2 mb-1">{{ (activity.totaleNettoCliente | currency:'EUR':'symbol':'1.2-2':'it-IT') || '-' }}</dd>
              </dl>
            </div>
            <div class="col-12 col-md-6">
              <dl class="mt-2 mb-0">
                <dt>{{ 'APP.FIELD.totaleNettoAzienda' | translate }}</dt>
                <dd class="pt-2 mb-1">{{ (activity.totaleNettoAzienda | currency:'EUR':'symbol':'1.2-2':'it-IT') || '-' }}</dd>
              </dl>
            </div>
            <div class="col-12 col-md-6">
              <dl class="mt-2 mb-0">
                <dt>{{ 'APP.FIELD.totaleMerceLorda' | translate }}</dt>
                <dd class="pt-2 mb-1">{{ (activity.totaleMerceLorda | currency:'EUR':'symbol':'1.2-2':'it-IT') || '-' }}</dd>
              </dl>
            </div>
            <div class="col-12 col-md-6">
              <dl class="mt-2 mb-0">
                <dt>{{ 'APP.FIELD.totaleMargine' | translate }}</dt>
                <dd class="pt-2 mb-1">{{ (activity.totaleMargine | currency:'EUR':'symbol':'1.2-2':'it-IT') || '-' }}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <!-- <app-item-attribute *ngFor="let field of objectKey(activity)"
        [attribute]="{key: field, value: activity[field]}"
        [excluded]="excluded"
        [hideEmpty]="true">
      </app-item-attribute> -->
    </div>
	</div>
</div>
