@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    background-color: #0A192F;
}

p, ul {
    color: #8892B8;
}

p {
    font-weight: 500;
    margin: 0 0 5px;
}

p a {
    text-decoration: none;
    position: relative;
    transition: 0.25s;
    color: #64FFDA;
}

p a:hover:after {
    width: 100%;
}

p a:after {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0.1em;
    left: 0;
    background-color: #64FFDA;
    transition: 0.25s;
    opacity: 0.5;
}

.background {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.page-wrapper {
    height: 100%;
    min-height: 300px;
}

@media (min-width: 1081px) {
    main.page-wrapper {
        padding: 0 150px;
    }
}

@media (max-width: 1080px) {
    main.page-wrapper {
        padding: 0 100px;
    }
}

@media (max-width: 768px) {
    main.page-wrapper {
        padding: 0 50px;
    }
}

@media (max-width: 480px) {
    main.page-wrapper {
        padding: 0 25px;
    }
}


header {
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;

    -webkit-box-pack: justify;
    -webkit-box-align: center;
    position: fixed;
    top: 0;
    z-index: 11;
    padding: 0 50px;
    width: 100%;
    background-color: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(10px);
    transition: all 0.25s;
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
}

.header-buttons {
    display: flex;
    width: -webkit-fill-available;
    justify-content: flex-end;
}

.button-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* white-space: nowrap; */
    list-style: none;
    margin: 0;
    padding: 0;
}

.button-list li {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
}

.button-list li a {
    text-decoration: none;
    color: #495670;
    transition: all 0.2s ease;
}

.button-list li.sport-button:hover a,
.button-list li.sport-button.attivo a {
    color: #F46F51;
}

.button-list li.arte-button:hover a,
.button-list li.arte-button.attivo a {
    color: #40F85D;
}

.button-list li.docenti-button:hover a,
.button-list li.docenti-button.attivo a {
    color: #BE5AFB;
}

.button-list li.maestri-button:hover a,
.button-list li.maestri-button.attivo a {
    color: #FABB1B;
}

.button-list li.contatti-button:hover a,
.button-list li.contatti-button.attivo a {
    color: #5A9CFF;
}


/***** Stile home page *****/

/* Sezione: Introduzione */

.home-page h2.titolo,
.elemento-singolo h2.titolo {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    border-bottom: 2px solid #CCCCCC;

    color: #495670;
}

article#introduzione {
    min-height: 100vh;
    height: 100vh;
}

section.introduzione {
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

h1 {
    margin: 0;
}

h1 .titolo-piccolo {
    display: block;
    margin-bottom: 5px;
    color: #64FFDA;
    font-size: 14px;
    font-weight: 400;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

h1 .titolo-grande {
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 600;
    color: #CCD6F6;
    line-height: 1.1;
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
}

h2.titolo-secondario {
    margin: 0;
    font-size: clamp(40px, 8vw, 80px);
    color: #8892B8;
    font-weight: 600;
    line-height: 0.9;
}

p.dettagli-introduzione {
    margin: 20px 0 0;
    max-width: 540px;
    line-height: 1.3;
}

p.dettagli-introduzione a {
    color: #64FFDA;
    display: inline-block;
    text-decoration: none;
    position: relative;
    transition: all 0.25s;
}

p.dettagli-introduzione a:hover::after {
    width: 100%;
}

p.dettagli-introduzione a::after {
    background-color: #64FFDA;
    content: "";
    display: block;
    width: 0;
    height: 1px;
    position: relative;
    bottom: 0.1em;
    transition: all 0.25s;
    opacity: 0.5;
}

@media (max-width: 768px) {
    .immagine-chi-sono {
        margin: 50px auto 0;
        width: 70%;
    }
}

.immagine-chi-sono {
    position: relative;
    max-width: 300px;
    aspect-ratio: 1/1;
}

.immagine-background {
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
    transition: 0.25s;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #64FFDA;
}

.immagine-background::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: 0.25s;
    top: 0;
    left: 0;
    background-color: #0A192F;
    mix-blend-mode: screen;
}

.immagine-background:hover::after,
.immagine-background:focus::after {
    top: 15px;
    left: 15px;
}

.immagine-background::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: 0.25s;
    border: 2px solid #64FFDA;
    top: 20px;
    left: 20px;
    z-index: -1;
}

.immagine-background:hover div,
.immagine-background:focus div {
    filter: none;
    mix-blend-mode: normal;
}

.immagine-background div {
    position: relative;
    border-radius: 4px;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
    transition: 0.25s;
    width: 100%;
    max-width: 100%;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
}

.immagine-chi-sono img {
    object-fit: cover;
    opacity: 1;
    transform: translateZ(0);
    transition: opacity .25s linear;
    will-change: opacity;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

section.evento {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.immagine-evento {
    width: fit-content;
}

.immagine-evento img {
    border: 5px solid #4E738D;
    max-width: 250px;
    max-height: 250px;
}

.dettagli-evento {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dettagli {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lista-skills {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0 10px;
    padding: 0;
    margin: 20px 0 0;
    overflow: hidden;
    list-style: none;
}

.lista-skills li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    font-size: 13px;
}

.lista-skills li:before {
    content: "▹";
    position: absolute;
    left: 0;
    color: #64FFDA;
    font-size: 14px;
    line-height: 16px;
}

.header-evento {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.titolo-evento {
    font-size: 22px;
    line-height: 120%;
    font-weight: bold;
    color: #495670;
}

.data-evento {
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
    color: #CCCCCC;
}

.descrizione-evento {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Le proprietà webkit servono per dare un massimo di righe di contenuto che da mostrare. */
.home-page .descrizione-evento {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.descrizione-evento a {
    font-weight: 500;
    color: #495670;
}

.descrizione-evento p {
    margin: 0;
}

.descrizione-evento p:not(:last-child) {
    margin-bottom: 5px;
}

.footer-evento {
    display: flex;
    width: 100%;
    justify-content: end;
}

.footer-evento a {
    color: black;
    line-height: 200%;
}


/***** Stile pagina "Sport e Benessere" *****/
/* Molti elementi di queste pagine sono condivisi, quindi sono nella stessa sezione */


.pagina-sport h2.titolo,
.pagina-arte h2.titolo,
.pagina-contatti h2.titolo {
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    margin: 20px 0 10px 0;
}

.pagina-sport h2.titolo {
    color: #F46F51;
    -webkit-text-stroke: 0.5px #721500;
}

.pagina-arte h2.titolo {
    color: #40F85D;
    -webkit-text-stroke: 0.5px #0FAE29;
}

.pagina-contatti h2.titolo {
    color: #5A9CFF;
    -webkit-text-stroke: 0.5px #1953AA;
}

.pagina-sport .banner-immagini {
    display: flex;
    margin: 0 -40px;
}

.pagina-sport .banner-immagini img {
    width: 50%;
}

.pagina-arte .banner-immagini {
    display: flex;
    justify-content: center;
}

.pagina-contatti .banner-principale {
    display: flex;
    flex-direction: column;
}

.pagina-arte .banner-immagini img {
    width: 30%;
    max-width: 300px;
}

.pagina-sport .descrizione-pagina a {
    font-weight: 500;
    color: #F46F51;
}

.pagina-arte .descrizione-pagina a,
.pagina-arte .descrizione-accademia a {
    font-weight: 500;
    color: #05E429;
}

.descrizione-pagina p {
    margin: 0;
    font-weight: 500;
}

.descrizione-pagina p:not(:last-child) {
    margin-bottom: 5px;
}

.contenuto-banner {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.sale-palestra h3.sottotitolo,
.discorso-accademia h3.sottotitolo,
.contenuto-banner h3.sottotitolo {
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
    margin-bottom: 5px;
}

.sale-palestra h3.sottotitolo {
    color: #F34923;
}

.discorso-accademia h3.sottotitolo {
    color: #40F85D;
}

.contenuto-banner h3.sottotitolo {
    color: #5A9CFF;
}

.contenuto-banner {
    line-height: 180%;
}

.contenuto-banner a {
    color: black;
}

.container-immagini {
    display: flex;
    gap: 40px;
}

.immagine-sala {
    max-width: 340px;
}

.immagine-mappa {
    width: 50%;
    max-width: 500px;
}

.immagine-sala img,
.immagine-arte img,
.immagine-mappa img {
    width: 100%;
    border: 5px solid #4E738D;
}

.immagine-sala img:hover {
    border: 5px solid #F34923;
}

.immagine-arte img:hover {
    border: 5px solid #05E429;
}


.immagine-mappa img:hover {
    border: 5px solid #5A9CFF;
}