@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-mono');
@import url('https://fonts.cdnfonts.com/css/calibre');

html {
  /* Colori */
  --green: #64FFDA;
  --red: #FF0000FF;
  --light-blue: #8AB2D1;
  --light-grey: #CCD6F6;
  --grey: #A8B2D1;
  --grey-background: #A8B2D144;
  --dark-grey: #8892B8;
  --color-progetto-secondario: #E6F1FF;
  --color-sottotitolo: #495670;
  --color-section-line: #233554;
  --background-color: #0A192F;
  --background-color-progetto-secondario: #112240;
  --background-color-header: #0A192FD9;
  --box-shadow: #020c1bb3;
  --border-color: #CCCCCC;

  /* Font */
  --font-calibre: "Calibre", sans-serif;
  --font-mono: "SF Mono", monospace;
  --font-monospace: monospace;
}

p, ul {
  color: var(--dark-grey);
}

p {
  font-weight: 500;
  margin: 0 0 5px;

  a {
    text-decoration: none;
    position: relative;
    transition: 0.25s;
    color: var(--green);
    white-space: nowrap;
    cursor: pointer;
  }

  a::after {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0.1em;
    left: 0;
    background-color: var(--green);
    transition: 0.25s;
  }

  a:hover::after {
    width: 100%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-calibre);
  background-color: var(--background-color);
}

.background {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

@media (min-width: 1081px) {
  main.page-wrapper, nav {
    padding: 0 150px;
  }
}

@media (max-width: 1080px) {
  main.page-wrapper, nav {
    padding: 0 100px;
  }
}

@media (max-width: 768px) {
  main.page-wrapper, nav {
    padding: 0 50px;
  }
}

@media (max-width: 480px) {
  main.page-wrapper, nav {
    padding: 0 25px;
  }
}

header {
  min-height: 100px;
  overflow: hidden;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  position: sticky;
  top: 0;
  z-index: 11;
  width: 100%;
  transition: all 0.25s;
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
}

aside#social {
  width: 40px;
  position: fixed;
  bottom: 0;
  left: 40px;
  right: auto;
  z-index: 10;
  color: var(--grey);
}

/* .lista-social e le icone al suo interno esisto sia in aside che in footer */
/* Molte caratteristiche sono simili e rimarranno condivise */
.lista-social {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    transition: 0.25s;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;

    &:is(:hover, :focus, :focus-visible) {
      transform: translateY(-3px);
      color: var(--green);
    }
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

aside#social .lista-social {
  flex-direction: column;
}

@media (min-width: 769px) {
  aside#social .lista-social li:has(.icona-instagram) {
    margin-bottom: 20px;
  }
}

footer .lista-social {
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

aside#email {
  width: 40px;
  position: fixed;
  bottom: 0;
  left: auto;
  right: 40px;
  z-index: 10;
  color: var(--grey);

  div {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
  }
}

aside#email div::after,
aside#social .lista-social::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background-color: var(--grey);
}

aside#email a {
  margin: 20px auto;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;

  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: 0.25s;

  &:is(:hover, :focus, :focus-visible) {
    transform: translateY(-3px);
    color: var(--green);
    letter-spacing: 0.15em;
  }
}

@media (max-width: 768px) {
  aside {
    display: none;
  }
}

nav {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: var(--background-color-header);
  backdrop-filter: blur(10px);
  justify-content: space-between;
  transition: 0.5s;
}

@media (max-width: 768px) {
  nav:has(#nav-check:checked) {
    height: 290px;
  }
}

.header-logo {
  height: 60px;
  margin-top: 20px;

  img {
    height: 100%
  }
}

.button-list {
  display: flex;
  height: 100px;
  justify-content: end;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 8px;
}

.button-list li,
.mobile-button-list span {
  display: flex;
  font-size: 15px;
  font-weight: 400;
  line-height: 120%;
  font-family: var(--font-monospace);

  a {
    align-self: center;
    text-decoration: none;
    color: var(--light-grey);
    padding: 10px 7px;

    &:is(:hover, :focus, :focus-visible) {
      color: var(--green);
      transition: color 0.5s;
    }

    &:before {
      font-family: var(--font-mono);
      margin-right: 5px;
      color: var(--green);
      font-size: 12px;
      text-align: right;
    }
  }

  &.button-chi-sono a:before {
    content: "01.";
  }

  &.button-esperienze a:before {
    content: "02.";
  }

  &.button-progetti a:before {
    content: "03.";
  }

  &.button-contatti a:before {
    content: "04.";
  }

  &.button-login a:before {
    content: "05.";
  }
}

.pagina-progetti .button-progetti a,
.pagina-contatti .button-contatti a,
.pagina-login .button-login a {
  color: var(--green);
}

/* Navbar mobile */

.nav-btn, #nav-check {
  display: none;
}

.mobile-button-list {
  display: none;
}

@media (max-width: 768px) {
  .button-list {
    display: none;
  }

  .nav-btn {
    display: flex;
    align-items: center;
    position: absolute;
    right: 50px;
    top: 22px;
  }

  .nav-btn > label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    padding: 13px;
  }

  .nav-btn > label > span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--green);
  }

  .mobile-button-list {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0 50px;
    height: 0;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 100px;
    left: 0;
  }

  .mobile-button-list a {
    display: block;
    width: auto;
    line-height: 1;
  }

  nav > #nav-check:not(:checked) ~ .mobile-button-list {
    height: 0;
    transition: 0.5s;
  }

  nav > #nav-check:checked ~ .mobile-button-list {
    height: 175px;
    transition: 0.5s;
  }
}

@media (max-width: 480px) {

  .nav-btn {
    right: 25px;
  }

  .mobile-button-list {
    padding: 0 25px;
  }
}


/********** Stile home page **********/

/***** Sezione Introduzione  *****/

.home-page h2.titolo,
.elemento-singolo h2.titolo {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  border-bottom: 2px solid var(--border-color);

  color: var(--color-sottotitolo);
}

article {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1000px;
}

@media (max-width: 768px) {
  article {
    padding: 80px 0;
  }
}

@media (max-width: 480px) {
  article {
    padding: 60px 0;
  }
}

article#introduzione {
  min-height: calc(90vh - 100px);
  height: calc(90vh - 100px);
  padding: 0;
}

section.introduzione {
  height: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

h1 {
  margin: 0;
}

h1 .titolo-piccolo {
  display: block;
  margin-bottom: 5px;
  color: var(--green);
  font-size: clamp(15px, 2.5vw, 25px);
  font-weight: 400;
  font-family: var(--font-monospace);
}

h1 .titolo-grande {
  font-size: clamp(40px, 8vw, 80px);
  font-weight: 600;
  color: var(--light-grey);
  line-height: 1.1;
  font-family: var(--font-calibre);
}

h2 {
  margin: 0 0 10px;
  font-weight: 600;
  color: var(--light-grey);
  line-height: 1.1;
}

h3 {
  margin: 0 0 10px;
  font-weight: 500;
  color: var(--light-grey);
  line-height: 1.1;
}

h2.titolo-secondario {
  margin: 0;
  font-size: clamp(40px, 8vw, 80px);
  color: var(--dark-grey);
  font-weight: 600;
  line-height: 0.9;
}

.dettagli-introduzione {
  margin: 20px 0 0;
  max-width: 540px;
  line-height: 1.3;
  font-size: 19px;
}

.dettagli-introduzione a {
  color: var(--green);
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: all 0.25s;
}

.dettagli-introduzione a:hover::after {
  width: 100%;
}

.dettagli-introduzione a::after {
  background-color: var(--green);
  content: "";
  display: block;
  width: 0;
  height: 1px;
  position: relative;
  bottom: 0.1em;
  transition: all 0.25s;
}

/***** Sezione Chi sono  *****/

.titolo-numerato {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, 32px);
  white-space: nowrap;
  font-family: sans-serif;
}

.titolo-numerato::before {
  position: relative;
  content: "0" counter(section) ".";
  margin: 0 10px 3px 0;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(16px, 3vw, 20px);
  font-weight: 400;
  align-self: end;
}

@media (max-width: 768px) {
  .titolo-numerato::after {
    width: 100%;
  }
}

@media (max-width: 1080px) {
  .titolo-numerato::after {
    width: 200px;
  }
}

.titolo-numerato::after {
  content: "";
  display: block;
  position: relative;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--color-section-line);
}

#chi-sono .titolo-numerato::before {
  counter-increment: section 1;
}

#chi-sono p {
  font-size: 17px;
}

.immagine-chi-sono {
  position: relative;
  max-width: 300px;
  aspect-ratio: 1/1;
}

@media (max-width: 768px) {
  .immagine-chi-sono {
    margin: 50px auto 0;
    width: 70%;
  }
}

.immagine-background {
  box-shadow: 0 10px 30px -15px var(--box-shadow);
  transition: 0.25s;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: var(--green);
}

.immagine-background::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  transition: 0.25s;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  mix-blend-mode: screen;
}

.immagine-background:is(:hover, :focus, :focus-visible)::after {
  top: 15px;
  left: 15px;
}

.immagine-background::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  transition: 0.25s;
  border: 2px solid var(--green);
  top: 20px;
  left: 20px;
  z-index: -1;
}

.immagine-background:is(:hover, :focus, :focus-visible) div {
  filter: none;
  mix-blend-mode: normal;
}

.immagine-background div {
  position: relative;
  border-radius: 4px;
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1);
  transition: 0.25s;
  width: 100%;
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
}

.immagine-chi-sono img {
  object-fit: contain;
  opacity: 1;
  transform: translateZ(0);
  transition: opacity .25s linear;
  will-change: opacity;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  margin: 0;
  max-width: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.dettagli {
  display: flex;
  flex-direction: column;
}

#chi-sono .dettagli {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}

@media (max-width: 768px) {
  #chi-sono .dettagli {
    display: block;
  }
}

.lista-skills {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0 10px;
  padding: 0;
  margin: 20px 0 0;
  overflow: hidden;
  list-style: none;
}

.lista-skills li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: var(--font-mono);
  font-size: 13px;
}

.lista-skills li:before {
  content: "▹";
  position: absolute;
  left: 0;
  color: var(--green);
  font-size: 14px;
  line-height: 16px;
}


/***** Sezione Introduzione  *****/

#esperienze-lavorative .titolo-numerato::before {
  counter-increment: section 2;
}

#esperienze-lavorative .dettagli {
  padding: 20px 0;
}

h3.esperienza-lavorativa {
  margin-bottom: 5px;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.4;
}

h3 .nome-azienda {
  color: var(--green);
  white-space: nowrap;
}

.periodo-lavorativo {
  margin-bottom: 25px;
  color: var(--light-blue);
  font-family: var(--font-mono);
  font-size: 13px;
}

#esperienze-lavorative ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 18px;
  font-family: var(--font-calibre);
  font-weight: 500;
}

#esperienze-lavorative ul li {
  display: list-item;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

#esperienze-lavorative ul li::before {
  content: "▹";
  position: absolute;
  left: 0;
  color: var(--green);
}


/***** Sezione Progetti *****/

#progetti section {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1000px;
}

@media (max-width: 768px) {
  #progetti section {
    padding: 80px 0;
  }
}

/* Progetti in evidenza */

#progetti .titolo-numerato {
  counter-increment: section 3;
}

#progetti-in-evidenza {
  padding-bottom: 80px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li.progetto-in-evidenza {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 100px;
    }

    .contenuto-progetto {
      position: relative;
      grid-area: 1 / 1 / -1 / 7;
    }

    .immagine-progetto {
      box-shadow: 0 10px 30px -15px var(--box-shadow);
      grid-area: 1 / 6 / -1 / -1;
      position: relative;
      z-index: 1;

      a {
        display: inline-block;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: var(--green);
        border-radius: 4px;
        vertical-align: middle;
        transition: 0.25s;
      }

      div {
        mix-blend-mode: multiply;
        width: 100%;
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;
        position: relative;
        overflow: hidden;

        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          inset: 0;
          z-index: 3;
          transition: 0.25s;
          background-color: var(--background-color);
          mix-blend-mode: screen;
        }
      }

      img {
        bottom: 0;
        height: 100%;
        left: 0;
        margin: 0;
        max-width: none;
        padding: 0;
        right: 0;
        top: 0;
        width: 100%;
        object-fit: cover;

        transform: translateZ(0);
        transition: 0.25s;
        will-change: opacity;
        opacity: 1;
        filter: grayscale(100%) contrast(1) brightness(90%);
        border-radius: 10px;
      }

      &:is(:hover, :focus, :focus-visible) {
        a {
          background: transparent;
          outline: 0;
        }

        div {
          filter: none;
        }

        img {
          background: transparent;
          filter: none;
        }
      }
    }

    &:nth-of-type(2n+1) {
      .contenuto-progetto {
        grid-column: 7 / -1;
        text-align: right;
      }

      .immagine-progetto {
        grid-column: 1 / 8;
      }
    }

    .sottotitolo-progetto {
      margin: 10px 0;
      color: var(--green);
      font-family: var(--font-monospace);
      font-size: 13px;
      font-weight: 400;
    }

    .titolo-progetto {
      color: var(--light-grey);
      font-size: clamp(24px, 5vw, 28px);

      a {
        position: relative;
        z-index: 1;
        display: inline-block;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        transition: 0.25s;

        &:is(:hover, :focus, :focus-visible) {
          color: var(--green);
        }
      }
    }

    .descrizione-progetto {
      box-shadow: 0 10px 30px -15px var(--box-shadow);
      transition: 0.25s;
      position: relative;
      z-index: 2;
      padding: 25px;
      border-radius: 4px;
      background-color: var(--background-color-progetto-secondario);
      color: var(--grey);
      font-size: 18px;

      p {
        font-size: 19px;
        margin: 0 0 15px;

        &:last-child,
        &:last-of-type {
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  #progetti-in-evidenza li.progetto-in-evidenza {
    .contenuto-progetto {
      grid-column: 1 / 9;
    }

    &:nth-of-type(2n+1) .contenuto-progetto {
      grid-column: 5 / -1;
    }
  }
}

@media (max-width: 768px) {
  #progetti-in-evidenza li.progetto-in-evidenza {
    box-shadow: 0 10px 30px -15px var(--box-shadow);
    transition: 0.25s;

    .contenuto-progetto {
      grid-column: 1 / -1;
      padding: 40px 40px 30px;
      text-align: left;
    }

    .immagine-progetto {
      grid-column: 1 / -1;
    }

    &:not(:last-of-type) {
      margin-bottom: 70px;
    }
  }

  #progetti-in-evidenza li.progetto-in-evidenza .contenuto-progetto {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    grid-column: 1 / -1 !important;
    padding: 40px 40px 30px;
    z-index: 5;
  }

  .progetto-in-evidenza {
    color: var(--color-progetto-secondario);

    .sottotitolo-progetto {
      text-align: start;
    }

    .titolo-progetto {
      padding-left: 0;
      text-align: start;

      a {
        position: static;

        &:before {
          content: "";
          display: block;
          position: absolute;
          z-index: 0;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }
    }

    .immagine-progetto {
      transition: background-color 0.25s;
      grid-column: 1 / -1 !important;
      height: 100%;
      opacity: 0.25;

      div {
        object-fit: contain;
        width: auto;
        height: 100%;
        filter: grayscale(100%) contrast(1) brightness(50%);
      }
    }

    .descrizione-progetto {
      padding: 20px 0;
      background-color: transparent;
      box-shadow: none;
      text-align: start;
    }
  }
}

@media (max-width: 480px) {
  #progetti-in-evidenza li.progetto-in-evidenza {
    .contenuto-progetto {
      padding: 30px 25px 20px;
    }

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }

    &:nth-of-type(2n+1) .contenuto-progetto {
      padding: 25px 25px 20px;
    }
  }
}

/* Progetti secondari */

h2.titolo-progetti-secondari {
  font-size: clamp(24px, 5vw, 36px);
  font-family: var(--font-calibre);
  text-align: center;
  margin: 0 0 10px;
  font-weight: 600;
  color: var(--light-grey);
  line-height: 1.1;
}

.link-progetti-secondari {
  text-align: center;

  a {
    font-size: 14px;
    font-family: var(--font-mono);
    display: inline-block;
    position: relative;
    color: var(--green);
    transition: 0.25s;
    text-decoration: none;
    text-decoration-skip-ink: auto;
  }
}


.tabella-progetti-secondari {
  list-style: none;
  padding: 0;
  margin: 50px 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 15px;
  row-gap: 80px;
  position: relative;
}

@media (max-width: 1080px) {
  .tabella-progetti-secondari {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.progetto-secondario {
  position: relative;
  cursor: default;
  transition: 0.25s;

  .contenuto-progetto {
    box-shadow: 0 10px 30px -15px var(--box-shadow);
    display: flex;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 2rem 1.75rem;
    border-radius: 4px;
    background-color: var(--background-color-progetto-secondario);
    transition: 0.25s;
    overflow: auto;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 100%;

    .header {
      display: flex;
      width: 100%;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      margin-bottom: 35px;

      svg {
        fill: none;
        vertical-align: middle;

        &.icona-cartella {
          width: 40px;
          height: 40px;
          max-width: 100%;
          vertical-align: middle;
        }
      }

      .lista-link {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin-right: -10px;

        .link {
          color: var(--grey);
          display: flex;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center;
          padding: 5px 7px;
          position: relative;
          z-index: 1;
          cursor: pointer;
          transition: color 0.25s;

          &:hover {
            color: var(--green);
          }

          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .titolo-progetto {
      margin: 0 0 10px;
      color: var(--light-grey);
      font-size: 20px;
    }

    .descrizione-progetto {
      color: var(--grey);
      font-size: 17px;
    }

    ul.lista-tecnologie {
      display: flex;
      align-items: flex-end;
      -webkit-box-flex: 1;
      flex-grow: 1;
      flex-wrap: wrap;
      padding: 0;
      margin: 20px 0 0;
      list-style: none;

      li {
        font-family: var(--font-mono);
        font-size: 12px;
        line-height: 1.75;

        &:not(:last-of-type) {
          margin-right: 15px;
        }
      }
    }
  }
}

/***** Sezione Contatti *****/

article#contatti {

  section#sezione-contatti {
    max-width: 600px;
    margin: 0 auto 100px;
    text-align: center;
    align-items: center;

    .contatti-sottotitolo {
      display: block;
      margin-bottom: 20px;
      color: var(--green);
      font-family: var(--font-mono);
      font-size: 16px;
      font-weight: 400;

      &:before {
        bottom: 0;
        font-size: 16px;
        position: relative;
        counter-increment: section 1;
        content: "04.";
        margin-right: 10px;
        color: var(--green);
        font-family: var(--font-mono);
        font-weight: 400;
      }
    }

    .contatti-titolo {
      font-size: clamp(30px, 4vw, 45px);
      margin: 0 0 10px;
      font-weight: 600;
      color: var(--light-grey);
      line-height: 1.1;
    }

    .contatti-descrizione {
      padding-top: 10px;
      font-weight: 400;
    }

    .contatti-email {
      color: var(--green);
      background-color: transparent;
      border: 1px solid var(--green);
      border-radius: 4px;
      padding: 1.25rem 1.75rem;
      font-size: 18px;
      font-family: var(--font-mono);
      line-height: 1;
      text-decoration: none;
      transition: 0.25s;
      margin-top: 50px;

      &:is(:hover, :focus, :focus-visible) {
        outline: none;
        box-shadow: 4px 4px 0 0 var(--green);
        transform: translate(-5px, -5px);
      }
    }
  }
}


/*** FOOTER **/

footer {
  .footer-social {
    display: none;
  }

  .footer-contenuto {
    padding: 10px;
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 0 auto 10px;
    color: var(--grey);
    font-family: var(--font-mono);
    font-size: 12px;
    line-height: 1;
    text-align: center;
  }
}

@media (max-width: 768px) {
  footer .footer-social {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 10px;
    color: var(--grey);
  }
}


/********** Stile pagina progetti **********/

.pagina-progetti {
  h1 {
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 600;
    color: var(--light-grey);
    line-height: 1.1;
    font-family: var(--font-calibre);
  }

  .sottotitolo {
    color: var(--green);
    margin: 0;
    font-size: 16px;
    font-family: var(--font-monospace);
    font-weight: 400;
    line-height: 1.5;
  }
}


/********** Stile pagina progetto singolo **********/

.pagina-progetto-singolo {
  #progetto-singolo {
    .header {
      margin-bottom: 50px;

      .header-info {
        display: flex;
        flex-direction: row;
        align-content: center;
        gap: 15px;
      }
    }

    section > * {
      margin: 25px 0;
      font-size: 19px;
    }
  }

  .lista-link {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: var(--grey);
  }

  .link {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 5px 7px 15px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    color: inherit;

    svg {
      width: 25px;
      height: 25px;
    }

    &:is(:hover, :focus, :focus-visible) {
      transition: color 0.5s;
      color: var(--green);
    }
  }

  .immagine-progetto-singolo {
    width: 100%;

    img {
      max-width: 100%;
      border-radius: 10px;
    }
  }
}


/********** Stile pagina contatti **********/

.pagina-contatti {
  .button-contatti a {
    color: var(--green);
  }

  section {
    display: flex;
    flex-direction: column;
  }

  .container-testo, .container-form {
    width: 45%;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1080px) {
  .pagina-contatti {
    .container-testo, .container-form {
      width: 100% !important;
      margin-bottom: 5rem;
    }
  }
}

@media (min-width: 1081px) {
  .pagina-contatti section {
    flex-direction: row;
    justify-content: space-between;
  }
}

.pagina-contatti, .pagina-progetto-singolo, .pagina-login, .pagina-backend,
.pagina-gestione-progetto, .pagina-gestione-utente, .pagina-gestione-categoria {
  h1 {
    padding: 10px 0;
    font-weight: 600;
    color: var(--light-grey);
    font-family: var(--font-calibre);
    line-height: 1.1;
    font-size: clamp(26px, 5vw, 32px);
  }

  h2 {
    color: var(--green);
    margin: 0;
    font-size: 16px;
    font-family: var(--font-monospace);
    font-weight: 400;
    line-height: 1.5;
  }

  main p {
    font-size: 21px;
  }
}

.container-form {
  label {
    color: var(--light-grey);
    font-size: 16px;
    font-family: var(--font-calibre);
    font-weight: 500;
    margin-bottom: 5px;
  }

  .button-invia-email, .button-login {
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: 4px;
    padding: 1rem;
    font-size: 16px;
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    transition: 0.25s;

    &:is(:hover, :focus, :focus-visible) {
      outline: none;
      box-shadow: 4px 4px 0 0 var(--green);
      transform: translate(-5px, -5px);
    }
  }

  .input-container {
    position: relative;

    .icona-nome,
    .icona-mail,
    .icona-password {
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
    }

    .icona-nome svg {
      width: 1.25rem;
      height: 1.25rem;
      padding-left: 12px
    }

    .icona-mail svg {
      width: 1.5rem;
      height: 1.5rem;
      padding-left: 12px;
    }

    .icona-password svg {
      width: 1.15rem;
      height: 1.15rem;
      padding-left: 12px
    }

    input, textarea {
      font-size: 17px;
      width: -webkit-fill-available !important;
      font-family: var(--font-calibre);
    }

    input {
      padding: 0.775rem 2.5rem 0.625rem;
    }

    textarea {
      padding: 0.775rem 12px 0.625rem;
      resize: vertical;
    }
  }

  .alert-errore, .alert-required {
    margin-top: 20px;
    display: none;
  }

  .alert-successo {
    margin-top: 60px;
    display: none;
  }

  &.inviato-errore {
    input, textarea {
      outline: red solid 1px;
    }

    .alert-errore {
      display: block;
    }
  }

  &.inviato-required {
    input, textarea {
      outline: red solid 1px;
    }

    .alert-required {
      display: block;
    }
  }

  &.inviato-successo .alert-successo {
    display: block;
  }
}


/********** Stile settore backend **********/

/********** Stile pagina login **********/
.pagina-login {
  h1 {
    font-size: clamp(40px, 6.5vw, 50px);
  }

  .container-form {
    margin-top: 4rem;
  }

  .form-nome {
    margin-bottom: 10px;
  }

  .form-password {
    margin-block: 30px;
  }

  .accesso {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;

    p {
      line-height: 0.9;
      align-self: center;
      font-size: 18px;
      margin: 5px 0 0;
    }
  }
}

/********** Stile pagina login **********/
.pagina-backend {
  h1 {
    font-size: clamp(40px, 6.5vw, 50px);
  }

  .crea {
    width: 30px;
    height: 30px;
    fill: var(--light-grey);
    margin: 15px 0 40px;
    transition: 0.25s;

    &:hover {
      fill: var(--green);
    }
  }

  article#introduzione {
    min-height: calc(40vh - 100px);
    height: calc(40vh - 100px);
    padding: 0;

    section#introduzione {
      height: 100%;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
    }
  }

  section {
    margin: 0 auto;
    padding: 100px 0;
    max-width: 1000px;
  }

  .titolo-contenuto {
    font-weight: 600;
    color: var(--light-grey);
    line-height: 1.1;

    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0 40px;
    width: 100%;
    font-size: clamp(26px, 5vw, 32px);
    white-space: nowrap;
    font-family: sans-serif;
  }

  .titolo-contenuto::before {
    position: relative;
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    margin-right: 20px;
    background-color: var(--color-section-line);
  }

  @media (max-width: 768px) {
    .titolo-contenuto::after {
      width: 100%;
    }
  }

  @media (max-width: 1080px) {
    .titolo-contenuto::after {
      width: 200px;
    }
  }

  .titolo-contenuto::after {
    position: relative;
    content: "";
    display: block;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--color-section-line);
  }

  table {
    width: 100%;

    tr {
      *:first-child {
        padding-left: 0;
      }

      *:last-child {
        padding-right: 0;
      }
    }

    th, td {
      padding: 8px 10px;
      text-align: left;
      font-family: var(--font-calibre);
    }

    th {
      color: var(--dark-grey);
      font-size: 20px;
      font-weight: 600;
    }

    td.link-progetto, td.operazioni {
      display: flex;
      justify-items: start;
      gap: 5px;

      a {
        width: 25px;
        height: 25px;
        transition: 0.25s;
        display: inline-block;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        position: relative;
        color: var(--grey);

        &:hover {
          color: var(--green);
        }

        svg {
          width: 25px;
          height: 25px;
        }
      }
    }

    td.titolo-progetto,
    td.nome-categoria,
    td.nome-utente {
      font-size: 20px;
      font-weight: 600;
      padding-top: 10px;
      color: var(--light-grey);
    }

    td.tecnologie-progetto,
    td.id-categoria,
    td.id-utente,
    td.categoria-utente {
      font-size: 14px;
      word-spacing: 1px;
      font-family: var(--font-mono);
      color: var(--green);
    }

    td.tipo-progetto,
    td.permesso-progetti-categoria,
    td.permesso-utenti-categoria,
    td.permesso-categorie-categoria {
      padding-top: 10px;
      font-size: 18px;
      font-weight: 500;
      color: var(--grey);
    }

    td.categoria-utente {
      font-size: 16px;
    }

    td.operazioni {
      justify-content: end;
      gap: 10px;

      a {
        color: var(--grey);
        fill: var(--grey);

        &:hover:not(.elimina) {
          color: var(--green);
          fill: var(--green);
        }

        &:hover:is(.elimina) {
          color: var(--red);
          fill: var(--red);
        }
      }
    }
  }
}

/********** Stile pagine gestione dati **********/
.pagina-gestione-progetto,
.pagina-gestione-utente,
.pagina-gestione-categoria {

  .header {
    margin-bottom: 50px;

    .nome {
      display: flex;
      flex-direction: row;
      align-content: center;
      gap: 15px;
    }
  }

  section > * {
    margin: 25px 0;
    font-size: 19px;
  }

  span, label, select, input {
    padding: 8px 10px;
    text-align: left;
    font-family: var(--font-calibre);
    color: var(--dark-grey);
    font-size: 20px;
    font-weight: 600;
    align-self: center;
  }
}

.pagina-gestione-categoria {
  .permesso {
    span {
    }
  }
}