<div class="text-center py-3" *ngIf="loading">
  <div class="h1 text-muted text-center mt-5 mb-1">
    <i class="fa fa-circle-o-notch fa-spin"></i>
  </div>
</div>
<div class="h-75" *ngIf="!invoice && !loading">
	<div class="details-content h-100">
    <div class="d-flex flex-column justify-content-center align-items-center h-100">
      <!-- loading & messages -->
      <div class="text-center" style="height: 120px;" *ngIf="!dragging">
        <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
      </div>
      <div class="text-center">
        <i class="icon-mouse icon-messages-50" *ngIf="dragging"></i>
        <h6 class="no-messages-text mt-3">{{ 'APP.MESSAGE.select_invoice' | translate }}</h6>
      </div>
    </div>
	</div>
</div>
<div class="mt-3" *ngIf="invoice && !loading">
  <div class="details-content">
    <div class="">
      <div class="invoice-email"><span class="badge badge-light">{{ invoice.numero }}</span></div>
      <!-- <div class="invoice-name" [title]="invoice.id">{{ invoice.titolo || '-' }}</div> -->
      <div class="invoice-email"><span class="badge badge-success">{{ invoice.statoDocumentoDescrizione }}</span></div>
      <div class="invoice-email"><span class="badge badge-light">{{ invoice.categoriaDocumentoDescrizione || invoice.categoriaDocumentoId }}</span></div>
      <div class="invoice-email mb-3"><span class="badge badge-light">{{ (invoice.dataCreazione | date: 'dd-MM-yyy') || '-' }}</span></div>
      <!-- <div class="text-center small mb-2">{{ invoice.id }}</div> -->
      <div class="card mb-1">
        <div class="card-body">
          <address>
            <strong>{{ 'APP.TITLE.intestatario' | translate }}</strong><br>
            {{ invoice.nominativoIntestatario || '-' }}<br>
            {{ invoice.indirizzoIntestatario || '-' }}<br>
            {{ invoice.capIntestatario || '-' }} {{ invoice.comuneIntestatario || '-' }} {{ invoice.provinciaIntestatario || '-' }}<br>
            {{ invoice.nazioneIntestatario || '-' }}<br>
          </address>
        </div>
      </div>
      <!-- <div class="card mb-1" *ngIf="!invoice.isStessoFatturazione">
        <div class="card-body">
          <address>
            <strong>{{ 'APP.TITLE.fatturazione' | translate }}</strong><br>
            {{ invoice.nominativoFatturazione || '-' }}<br>
            {{ invoice.indirizzoFatturazione || '-' }}<br>
            {{ invoice.capFatturazione || '-' }} {{ invoice.comuneFatturazione || '-' }} {{ invoice.provinciaFatturazione || '-' }}<br>
            {{ invoice.nazioneFatturazione || '-' }}<br>
          </address>
        </div>
      </div> -->
      <div class="card mb-1">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-6">
              <dl class="mt-2 mb-0">
                <dt>{{ 'APP.FIELD.piva' | translate }}</dt>
                <dd class="pt-2">{{ invoice.pIVA || '-' }}</dd>
              </dl>
            </div>
            <div class="col-12 col-md-6">
              <dl class="mt-2 mb-0">
                <dt>{{ 'APP.FIELD.codiceFiscale' | translate }}</dt>
                <dd class="pt-2 mb-0">{{ invoice.codiceFiscale || '-' }}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-1">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-6">
              <dl class="mt-2 mb-0">
                <dt>{{ 'APP.FIELD.totaleLordoCliente' | translate }}</dt>
                <dd class="pt-2">{{ (invoice.totaleLordoCliente | currency:'EUR':'symbol':'1.2-2':'it-IT') || '-' }}</dd>
              </dl>
            </div>
            <div class="col-12 col-md-6">
              <dl class="mt-2 mb-0">
                <dt>{{ 'APP.FIELD.totaleLordoAzienda' | translate }}</dt>
                <dd class="pt-2 mb-1">{{ (invoice.totaleLordoAzienda | currency:'EUR':'symbol':'1.2-2':'it-IT') || '-' }}</dd>
              </dl>
            </div>
            <div class="col-12 col-md-6">
              <dl class="mt-2 mb-0">
                <dt>{{ 'APP.FIELD.totaleIvaCliente' | translate }}</dt>
                <dd class="pt-2 mb-1">{{ (invoice.totaleIvaCliente | currency:'EUR':'symbol':'1.2-2':'it-IT') || '-' }}</dd>
              </dl>
            </div>
            <div class="col-12 col-md-6">
              <dl class="mt-2 mb-0">
                <dt>{{ 'APP.FIELD.totaleIvaAzienda' | translate }}</dt>
                <dd class="pt-2 mb-1">{{ (invoice.totaleIvaAzienda | currency:'EUR':'symbol':'1.2-2':'it-IT') || '-' }}</dd>
              </dl>
            </div>
            <div class="col-12 col-md-6">
              <dl class="mt-2 mb-0">
                <dt>{{ 'APP.FIELD.totaleNettoCliente' | translate }}</dt>
                <dd class="pt-2 mb-1">{{ (invoice.totaleNettoCliente | currency:'EUR':'symbol':'1.2-2':'it-IT') || '-' }}</dd>
              </dl>
            </div>
            <div class="col-12 col-md-6">
              <dl class="mt-2 mb-0">
                <dt>{{ 'APP.FIELD.totaleNettoAzienda' | translate }}</dt>
                <dd class="pt-2 mb-1">{{ (invoice.totaleNettoAzienda | currency:'EUR':'symbol':'1.2-2':'it-IT') || '-' }}</dd>
              </dl>
            </div>
            <div class="col-12 col-md-6">
              <dl class="mt-2 mb-0">
                <dt>{{ 'APP.FIELD.totaleMerceLorda' | translate }}</dt>
                <dd class="pt-2 mb-1">{{ (invoice.totaleMerceLorda | currency:'EUR':'symbol':'1.2-2':'it-IT') || '-' }}</dd>
              </dl>
            </div>
            <div class="col-12 col-md-6">
              <dl class="mt-2 mb-0">
                <dt>{{ 'APP.FIELD.totaleMargine' | translate }}</dt>
                <dd class="pt-2 mb-1">{{ (invoice.totaleMargine | currency:'EUR':'symbol':'1.2-2':'it-IT') || '-' }}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <!-- <app-item-attribute *ngFor="let field of objectKey(invoice)"
        [attribute]="{key: field, value: invoice[field]}"
        [excluded]="excluded"
        [hideEmpty]="true">
      </app-item-attribute> -->
    </div>
	</div>
</div>
