<div class="border-bottom" style="width: 100%;">
  <div class="d-flex flex-row justify-content-between">
    <!-- <div class="col-4 px-1 align-self-center">
      <div class="float-left mr-2">
        <ion-icon class="mr-2" name="list-outline"></ion-icon> {{ model }} - {{ quoteId }} - {{ items.length }}
      </div>
    </div> -->
    <div class="col-6 px-1 d-flex justify-content-left">
      <div class="buttons-bar">
        <div class="btn-toolbar">
          <ng-template [appHasPermission]="'MENUFATTURA'" [action]="'create'" [owner]="true">
            <div class="btn-group btn-group-sm mr-1" *ngIf="editable">
              <label class="btn btn-cyan cursor-pointer my-1" title="Aggiungi" (click)="onEdit(true)">
                <i class="cui-plus" aria-hidden="true"></i>
              </label>
              <label class="btn btn-cyan cursor-pointer my-1" title="Aggiungi" (click)="onEdit()" [class.disabled]="!currentItem">
                <i class="cui-pencil" aria-hidden="true"></i>
              </label>
              <a class="btn btn-cyan my-1" [class.disabled]="!currentItem"
                tooltip="{{ 'APP.TOOLTIP.delete' | translate }}"
                container="body"
                mwlConfirmationPopover
                [popoverTitle]="'APP.TITLE.delete' | translate"
                [popoverMessage]="'APP.MESSAGE.are_you_sure' | translate"
                [cancelText]="'APP.BUTTON.cancel' | translate"
                [cancelButtonType]="'outline-secondary btn-sm'"
                [confirmText]="'APP.BUTTON.confirm' | translate"
                [confirmButtonType]="'danger btn-sm'"
                [appendToBody]="true"
                placement="bottom"
                (confirm)="onDelete(true)">
                <i class="icon-trash"></i></a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-6 px-0 align-self-center">
      <div class="buttons-bar float-right">
        <div class="btn-toolbar">
          <div class="btn-group btn-group-sm mr-1">
            <label class="btn btn-outline-secondary cursor-pointer my-1" title="Aggiorna" (click)="refresh()">
              <i class="cui-reload" aria-hidden="true"></i>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="px-0" [style.height]="options.height">
  <ngx-loading
    [show]="loading"
    [config]="loadingOptions">
  </ngx-loading>
  <div class="px-0" style="width: calc( 100% ); height: calc( 100% );" *ngIf="!loading">
    <!-- items list -->
    <ag-grid-angular
      style="width: 100%; height: 100%;"
      class="ag-theme-balham"
      [rowData]="items"
      [columnDefs]="agColumnDefs"
      [defaultColDef]="agDefaultColumnDefs"
      [gridOptions]="agGridOptions"
      (gridReady)="onGridReady($event)"
      (gridSizeChanged)="onGridSizeChanged($event)"
      (selectionChanged)="onSelectionChanged($event)"
      (sortChanged)="onSortChanged($event)"
      (cellDoubleClicked)="onDoubleClicked($event)">
    </ag-grid-angular>
  </div>
</div>
