<div class="card card-accent-warning user-tenant">
  <div class="card-header bg-white px-1 py-1 d-flex justify-content-between align-items-center">
    <h6 class="font-weight-bold mb-0 pl-2 py-1">
      <i class="icon-lock" aria-hidden="true"></i>
      <span>{{ 'APP.TITLE.change-password' | translate }}</span>
    </h6>
    <div class="action-bar">
      <div class="btn btn-light btn-sm" (click)="closeEdit()" tooltip="{{ 'APP.TOOLTIP.cancel' | translate }}" placement="bottom" container="body">
        <span><i class="cui-x"></i> {{ 'APP.BUTTON.cancel' | translate }}</span>
      </div>
    </div>
  </div>
  <div class="card-content form-content mt-2">
    <div class="px-3 py-2">
      <form [formGroup]="passwordForm" (ngSubmit)="onSave(passwordModel)">
        <formly-form [form]="passwordForm" [model]="passwordModel" [fields]="passwordFields" [options]="options">
          <button class="btn btn-primary btn-sm mt-3" type="submit" [disabled]="!passwordForm.valid">
            <span>{{ 'APP.BUTTON.save' | translate }}</span>
          </button>
        </formly-form>
      </form>
    </div>
  </div>
</div>
