<div class="text-center py-3" *ngIf="loading">
  <div class="h1 text-muted text-center mt-1 mb-1">
    <i class="fa fa-circle-o-notch fa-spin"></i>
  </div>
</div>
<!-- <pre class="pre-code" *ngIf="!loading && accountingData">
  <code>{{ accountingData | json }}</code>
</pre> -->
<div *ngIf="!loading && accountingData">
  <h6>{{ data.azienda }}</h6>
  <app-item-attribute *ngFor="let field of objectKey(accountingData)"
    [attribute]="{key: field, value: accountingData[field]}"
    [excluded]="excluded"
    [hideEmpty]="true">
  </app-item-attribute>
</div>
<div *ngIf="!loading && !accountingData">
  <div class="text-muted text-center mt-1 mb-3">
    {{ 'APP.MESSAGE.no_data' | translate }}
  </div>
</div>
